.person-name-compo {
  padding-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.persone-name-background {
  background-color: #6d214f;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  width: 50%;
}

.persone-name-input-area {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 3em;
}
.person-name-title {
  margin: 0;
  /* padding: 0.5em; */
  /* background-color: blue; */
  /* border: 0.1em solid white; */
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 1.2em;
  color: white;
  padding-right: 1.5em;
}

.person-name-input-text-area {
  border: 0.09em solid white;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  flex: 2;
  font-family: "Comfortaa", cursive;
  background-color: #6d214f;
  color: white;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.person-name-button {
  border: none;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #9c3d76;
  color: white;
  /* margin-left: 40%; */
  width: 20%;
  height: 46px;
}

.person-name-button:hover {
  background-color: #b53471;
}

.chatbox-head-container {
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 2px;
  /* border: 3px solid red; */
  width: 40%;
  height: auto;
}

.chat-container {
  border: 2px solid #6d214f;
  margin-top: 100px;
  width: 100%;
}

.menu-content {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  padding: 10px 0px;
  margin: auto;
  background-color: #6d214f;
}
.menu-content-title {
  margin: auto;
}
.menu-content-title h4 {
  margin: 0px;
}

.red-dot {
  color: black;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 11px 0px;
  display: inline-block;
}

.drop-down-icon {
  height: 40px;
  width: 40px;
  margin: auto;
}

.menu-content-dropdown {
}

.dropdown-content {
  display: none;
  font-size: 0.5em;
  position: absolute;
  background-color: #6d214f;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b53471;
  cursor: pointer;
}

.menu-content-dropdown:hover .dropdown-content {
  display: block;
}

.message-container {
  width: auto;
  height: 600px;
  overflow: auto;
  flex-wrap: wrap;
  background-color: #f1f2f6;
}
.message-content {
  display: flex;
  margin-left: 25px;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}
/* .message-content .message-text-holder {
  max-width: 70%;
  word-wrap: break-word;
} */

.message-text-holder {
  background-color: #ced6e0;
  border-radius: 10px;
  line-height: 35px;
  max-width: 70%;
  word-wrap: break-word;
  margin: 0px;
  font-size: 2em;
  padding: 10px 25px;
  color: black;
}
.message-text {
  margin: auto;
  font-family: "Comfortaa", cursive;
}

.person-name {
  color: #b2307f;
  font-weight: bold;
}

.message-text-holder:hover {
  box-shadow: 10px 5px 1px 0px rgba(17, 15, 15, 0.829);
}

.message-time-holder {
  display: flex;
  flex-direction: row;
  margin: auto 10px;
  justify-content: flex-start;
}

.message-time {
  visibility: hidden;
}
.message-content:hover .message-time {
  visibility: visible;
  background-color: #ced6e0;
  border-radius: 15px;
  line-height: 15px;
  padding: 5px 15px;
  color:rgba(128, 17, 60, 0.753);
  font-family: "Roboto Mono", monospace;
}

.input-area {
  display: flex;
  align-items: center;
  background-color: #6d214f;
}
.input-box-chat {
  display: flex;
  margin-left: 25px;
  padding: 2px;
  flex: 4;
  word-wrap: break-word;
  background-color: #6d214f;
}

.input-text-area {
  border: none;
  outline: none;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
  background-color: #6d214f;
  color: white;
  margin-left: 5px;
  padding: 5px 25px;
  width: 100%;
}

::placeholder {
  color: white;
}
.send-button-box {
  border-radius: 10px;
  flex: 1;
}

.style-button-chat {
  border: none;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #9c3d76;
  color: white;
  width: 100%;
  height: 46px;
}

.style-button-chat:hover {
  background-color: #b53471;
}

@media screen and (max-width: 1000px) {
  .chatbox-head-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .chatbox-head-container {
    width: 100%;
  }

  .chat-container {
    margin-top: 0;
  }

  .persone-name-background {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {
  
  .persone-name-input-area {
    display: flex;
    flex-direction: column;
  }

  .person-name-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 1.5em;
    padding-right: 0em;
  }

  .person-name-button {
    width: 30%;
  }

  .chat-container {
    margin-top: 0;
  }

  .message-container {
    height: calc( 100vh - 105px );
  }

  .message-text-holder {
    line-height: 40px;
    font-size: 1.3em;
    padding: 5px 10px;
  }

  /* .message-time-holder {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    width: auto;
    justify-content: flex-end;
  } */

}
